<!DOCTYPE html>
<html>
<link rel="stylesheet" href="homeStyle.css">
<head>
 	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
 	<title>AI for Agriculture</title>
	<link rel="stylesheet" type="text/css" href="../Styles/stylesheet.css">
</head>

<body>
	<!--This entire div could potentially be made into a re-usable chunk later-->
	<div class = "heading">
		<h1> AI for Agriculture</h1>
		<a href = "index.html" class="button">Home</a>
		<a href = "label.html" class="button">Label</a>
	</div>
	
	<div class = "middle">
		<br><th>Healthy: 20</th>
		<br>
  		<th><div class="Frame">	
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >	
		</div></th>
		<br><th>Unhealthy: 30</th>
		<br>
  		<th><div class="Frame">	
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >	
		</div></th>
		<a href = "Final.html" class="button">See Final Results</a>
	</div>
	
</body>
</html>
