<!DOCTYPE html>
<html>
<link rel="stylesheet" href="homeStyle.css">
<head>
 	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
 	<title>AI for Agriculture</title>
	<link rel="stylesheet" type="text/css" href="../Styles/stylesheet.css">
</head>
<body>
	<!--This entire div could potentially be made into a re-usable chunk later-->
	<div class = "heading">
		<h1> AI for Agriculture</h1>
		<a href = "index.html" class = "button">Home</a>
	</div>
	<div class = "middleLabel">
		<img class = "unlabeled", src = "../images/UI/filenotfound.png">
		<!-- 50% is a placeholder, should be replaced with value when Flask is Implemented-->
		<p>Confidence: 50%</p>
		<table class = "buttons">
			<tr>
				<th><button class = "healthy">Healthy</button></th>
				<th><th>
				<th><button class = "unhealthy">Unhealthy</button></th>
			</tr>
			<tr>
				<th></th><th><a href = "Intermediate.html"><button>See Results</button></a></th><th></th>
			</tr>
		</table>
	</div> 
</body>
</html>