.button{
	background-color: #FFD700;
  	border: none;
  	color: black;
  	padding: 5px 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px 4px 2px;
  	cursor: pointer;
}
.Frame{
	border:1px solid #000;
	width: 300px;
	height: 120px;
	overflow:auto;
}	
.heading{
	text-align: center;
	border-bottom: 2px solid black;
	font-family: sans-serif;
}
.middle{
	font-family: sans-serif;
	margin: auto;
}
.middleLabel{
	text-align: center;	
}
.buttons{
	margin-left:auto;
	margin-right:auto;
}
.unlabeled{
	height: 500px;
}
.footer{
	position: fixed;
	width: 100%;
	bottom: 0;
	border-top: 2px solid black;
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
}