{% extends "base.html" %}

{% block content %}
<body>
	<!--This entire div could potentially be made into a re-usable chunk later-->
	<div class = "heading">
		<h1> AI for Agriculture</h1>
		<a href = "index.html" class="button">Home</a>
	</div>
	
	<div class = "middle">
		<br><th>Correct: 20</th>
		<br>
 		<th><div class="Frame">	
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >			
		</div></th>

		<br><th>Incorrect: 30</th>
		<br>
		<th><div class="Frame">	
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >	
		</div></th>
        <!-- These images haven't been sent to the user -->
		<br><th>Healthy(Machine): 40</th>
		<br>
		<th><div class="Frame">	
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >		
		</div></th>

		<br><th>Unhealthy(Machine): 50</th>
		<br>
		<th><div class="Frame">	
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >
				<img src="../images/UI/filenotfound.png" >	
		</div></th>
	</div>
</body>
</html>
{% endblock %}