{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index_format.css') }}">
<body>
	<div class="container-fluid">
		<div class="row no-gutter">
			<div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
			<div class="col-md-8 col-lg-6">
				<div class="start d-flex align-items-center py-5">
					<div class="container">
						<div class="row">
							<div class="col-md-9 col-lg-8 mx-auto">
								<h1 class="start-heading mb-4">
									AI for Agriculture
									</h1>
									<p>Agriculture for AI is an experiment with the goal of
										improving farmers' trust in AI.</p>
									<p>We hope to accomplish this using an interactive machine
										learning program, which you can test by hitting the start
										button below!</p><br>
									<a href="label.html"><button
											class="btn btn-lg btn-primary btn-block btn-start text-uppercase font-weight-bold mb-2">Try now</button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
{% endblock %}
