{% extends "base.html" %}

{% block content %}
<body>
	<!--This entire div could potentially be made into a re-usable chunk later-->
	<div class = "heading">
		<h1> AI for Agriculture</h1>
		<a href = "index.html" class = "button">Home</a>
    </div>

    <img src="https://cornaistorage.s3.us-east-2.amazonaws.com/images/{{ picture }}" style="width:400px;height:400px;">

    <p>{{ confidence }}</p>

    <form action="" method="post">
        <p>{{form.choice()}}</p>
        <p>{{form.submit()}}</p>
    </form>
    
</body>
</html>
{% endblock %}